.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom:100px ;
}

body{

    background-image: url('../image/masbro-ngoding.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

h2{
    text-align: center;
}
form {
    color:#ffffff;
    max-width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
    padding-bottom: 0;
    border: 2px solid #D9D9D9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container{
    margin:50px 0px 100px 0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border-style: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    box-sizing: border-box;
    color: white;
    font-size: large;
}
input[type=text]::placeholder, input[type=password]::placeholder{
    color: white;
    font-size:large;
}

input:-webkit-autofill, input:-webkit-autofill:hover
,input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
}

.input{
    margin-top: 25px;
}

.button-container{
    margin-top: 125px;
    display: flex;
    justify-content: center;
}
button[type=submit] {
    color: #ffff;
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: medium;
    cursor: pointer;
    margin: auto;
    /* padding: 10px 20px; */
    width: 250px;
    height: 50px;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.input p{
    font-size: smaller;
    color: rgb(255, 131, 131);
    margin-left: 20px;
}