.course-profile{
    height: 500px;
    background-color: #00000066;
    color: white;
}

.course-desc{
    text-align: left;
    width: 800px;
    height: 300px;
    margin: auto;
    padding-top: 120px;
}

.course-desc h3{
    font-size: 32px;
    font-weight: 700;
}

.course-desc p{
    font-size: 16px;
    font-weight: 500;
}

.course-category{
    margin-top: 10px;
    font-size: 20px;
}

.enroll{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #706C61;
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}

.enroll:hover{
    background-color: #535048;
}

.course-tasks{
    height: auto;
    margin-bottom: 70px
}

.task{
    border: 1px black solid;
    border-radius: 10px;
    width: 850px;
    margin: auto;
    margin-top: 50px;
}

.task-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px black solid;
}

.task-title h4{
    font-size: 20px;
}

.task-title a{
    color: black;
}

.task-content{
    margin: 20px;
    overflow: hidden;
    display: none;
}

.task-video iframe{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.task-desc{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}