<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/env-style.css">
    <link rel="stylesheet" href="./style/header-style.css">
    <link rel="stylesheet" href="./style/Student-Dashboard-style.css">
    <link rel="stylesheet" href="./style/footer-style.css">
    <script src="https://kit.fontawesome.com/b20f20a710.js" crossorigin="anonymous"></script>
    <title>MasBroAcademy | Dashboard</title>
</head>
<body>
    <nav>
        <div class="nav-content">
            <div id="header-icon">
                <h3>MasBroAcademy</h3>
            </div>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Courses">Course</a></li>
                <li><a href="/Community">Community</a></li>
            </ul>
        </div>
    </nav>

    <div class="dashboard">
        <div class="avatar-container">
            <div class="profile">
                <img src="../assets/chumimin.jpeg" alt="">
                <div class="profile-text">
                    <h4>Rizfi Ferdiansyah</h4>
                    <h5>College Student</h5>
                </div>
            </div>
        </div>
        <div class="course-container">
            <h2>Studied Recently</h2>
            <div class="course-cards">
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
                <div class="course">
                    <div class="card">

                    </div>
                    <h3 class="course-title">Babi guling</h3>
                </div>
            </div>
            <a href="./All_Courses.html">
                <div class="all-courses">
                    <h4>All Courses</h4>
                </div>
            </a> 
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div id="footer-icon">
                <h3>MasBroAcademy</h3>
            </div>
            <div class="about-us">
                <h4>About Us</h4>
                <ul class="icons">
                    <li><a href=""><i class="fab fa-square-facebook fa-2xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>